.mint-field .mint-cell-title {
  width: 75px;
}
.mint-cell-wrapper {
  font-size: 14px;
  padding: 0 16px;
}
.mint-cell {
  min-height: 37px;
}
.mint-radiolist .mint-cell {
  min-height: 34px;
}

.form-container .mint-cell-wrapper {
  font-size: 13px;
  max-width: 500px;
}

.mint-radiolist-title {
  margin-left: 16px;
}

.form-container .form-title {
  text-align: center;
  margin: 7px;
  font-size: 17px;
  padding-left: 30px;
  letter-spacing: 30px;
}


@media screen and (min-width:600px) {
  .form-container .mint-cell-wrapper {
    font-size: 14px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .mint-cell {
    min-height: 45px;
  }
  .mint-radiolist .mint-cell {
    min-height: 30px;
  }


  .mint-radiolist-title {
    margin-left: 16px;
    max-width: 470px;
    margin: 5px auto;
    font-size: 14px;
  }

  .form-container .form-title {
    padding: 20px;
    font-size: 22px;
    padding-left: 38px;
    letter-spacing: 38px;
    border-bottom: 1px solid #d9d9d9;
  }
}

